body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

/* 모바일 화면 틀 */
.mainSquare {
    width: 350px; /* 너비 */
    height: 600px; /* 높이 */
    border: 5px solid #000000; /* 경계선 두께 및 색상 */
    border-radius: 60px; /* 모서리 둥글기 */
    background: linear-gradient(to bottom, #3a3456, #190f49);
    display: flex; /* 내부 요소 정렬을 위해 flex 사용 */
    flex-direction: column; /* 세로 방향으로 정렬 */
    justify-content: flex-start; /* 수직 시작 정렬 */
    align-items: center; /* 수평 중앙 정렬 */
    padding-top: 20px; /* 위쪽 패딩 추가 */
}

.textContainer1 {
    margin-top: 20px; /* 텍스트와 입력 필드 간의 간격 */
    display: flex; /* 텍스트를 가로로 정렬 */
    justify-content: center; /* 중앙 정렬 */
    width: 100%; /* 전체 너비 */
}

/* 텍스트 스타일 */
.p1 {
    margin: 0; /* 기본 마진 제거 */
    margin-top: 0px; /* 위쪽 공간 추가 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
    font-size: 16px; /* 글씨 크기 */
    width: 100%; /* 부모 요소의 너비에 맞추기 */
    padding-right: 50px; /* 오른쪽 여백 추가 */
    font-family: 'jua', sans-serif;
    color: #cdcccc;
}

/* 돌아가기기 버튼 */
.goback_button {
    margin: 0; /* 기본 마진 제거 */
    margin-top: 0px; /* 위쪽 공간 추가 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
    font-size: 16px; /* 글씨 크기 */
    width: 100%; /* 부모 요소의 너비에 맞추기 */
    padding-right: 100px; /* 오른쪽 여백 추가 */
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    text-decoration: none; /* 밑줄 제거 */
    color: #c0c0c0; /* 링크 색상 */
    transition: color 0.3s; /* 색상 전환 효과 */
}

/* 삭제 버튼 호버 효과*/
.goback_button:hover {
    color: #959595; /* 호버 시 색상 변경 */
}

.p2 {
    margin: 0; /* 기본 마진 제거 */
    margin-top: 30px; /* 위쪽 공간 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 28px; /* 글씨 크기 */
    font-family: 'jua', sans-serif;
    color: #d9d8d8;
}

/* 작은 도형 */
.subSquare {
    width: 350px; /* 너비를 mainSquare와 동일하게 설정 */
    height: 475px; /* 원하는 높이로 조정 */
    border: 3px solid #000000; /* 경계선 두께 및 색상 */
    border-radius: 60px; /* 모서리 둥글기 */
    background: linear-gradient(to bottom, #d7ebf6, #ffffff);
    position: relative; /* 상대 위치 설정 */
    top: 16px; /* 위쪽으로 이동 (필요에 따라 조정) */
    z-index: 1; /* 겹치는 순서 조정 */
    font-size: 18px; /* 글씨 크기 */
    font-family: 'jua', sans-serif;
}

.p3 {
    margin: 0; /* 기본 마진 제거 */
    margin-top: 20px; /* 위쪽 공간 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-size: 24px; /* 글씨 크기 */
    font-family: 'jua', sans-serif;
}

/* 일정 추가 container */
.inputContainer {
    margin-top: 30px; /* 각 입력 필드 간의 간격 */
}

/* 일정 추가 container 내부 요소 스타일 */
.inputContainer label {
    margin-right: 10px; /* 레이블과 입력 필드 간의 간격 */
    margin-left: 30px; /* 레이블 왼쪽 여백 추가 */
    font-size: 24px; /* 글씨 크기 */
}

/* 날짜 입력 필드 스타일 */
.dateContainer input[type="text"] {
    width: 25px; /* 날짜 입력 필드 너비 */
    text-align: center; /* 텍스트 중앙 정렬 */
    font-family: 'jua', sans-serif;
}

.dateContainer span {
    margin-right: 10px; /* 원하는 여백 크기 설정 */
}

/* 과목 입력 필드 스타일 */
.subjectContainer input[type="text"] {
    width: 200px; /* 과목 입력 필드 너비 */
    font-family: 'jua', sans-serif;
}

/* 시간 입력 필드 스타일 */
.timeContainer input[type="text"] {
    width: 25px; /* 시간 입력 필드 너비 */
    margin-bottom: 15px;
    text-align: center; /* 텍스트 중앙 정렬 */
    font-family: 'jua', sans-serif;
}

.timeContainer span {
    margin-right: 10px; /* 원하는 여백 크기 설정 */
}


/* 필드 공통 스타일 */
input[type="text"] {
    padding: 8px; /* 패딩 추가 */
    border-radius: 5px; /* 둥근 모서리 */
    border: 1px solid #ccc; /* 테두리 색상 */
    font-size: 20px; /* 글씨 크기 */
}

.textContainer {
    margin-top: 80px; /* 텍스트와 입력 필드 간의 간격 */
    display: flex; /* 텍스트를 가로로 정렬 */
    justify-content: center; /* 중앙 정렬 */
    width: 100%; /* 전체 너비 */
}

/* 저장 버튼 */
.saveSchedule_button {
    font-size: 22px; /* 텍스트 크기 */
    color: #007BFF; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    transition: color 0.3s; /* 색상 전환 효과 */
}

/* 저장 버튼 호버 효과 */
.saveSchedule_button:hover {
    color: #0056b3; /* 호버 시 색상 변경 */
}

/* 삭제 버튼 */
.deleteSchedule_button {
    font-size: 22px; /* 텍스트 크기 */
    color: #e9879f; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    transition: color 0.3s; /* 색상 전환 효과 */
}

/* 삭제 버튼 호버 효과*/
.deleteSchedule_button:hover {
    color: #f65959; /* 호버 시 색상 변경 */
}
